tempCodeRunnerFile.py
teste.py
/.env
__pycache__/client.cpython-39.pyc
__pycache__/network.cpython-39.pyc
__pycache__/player.cpython-39.pyc
__pycache__/pong.cpython-39.pyc
__pycache__/teste.cpython-39.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Ping-Pong-Python-online.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
